DATABASE_URL=sqlite:///./eventos.db
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=SUACONTA;AccountKey=SUACHAVE;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER=cartazes
